---
import App from '~/layouts/App.astro'
import logo from '~/assets/elvfjord-bulletin-logo.png'
import { routes } from '~/js/routes';
---

<App title="Elvfjord Bulletin">
    <section>
        <header>
            <a href={routes.elvfjord_bulletin}>
                <img style="width: 100%;" src={logo.src} alt="Elvfjord Bulletin" />
            </a>
        </header>
        <article>
            <slot />
        </article>
    </section>
</App>

<style>
    section {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }
    header {    }

    article {
        width: 100%;
    }
</style>

