---
import App from '~/layouts/App.astro'
import logo from '~/assets/square.jpeg'
import { routes } from '~/js/routes';
---

<App title="The Square">
    <section>
        <header>
            <a href={routes.square}>
                <img style="width: 100%;" src={logo.src} alt="Square" />
            </a>
        </header>
        <article>
            <slot />
        </article>
    </section>
</App>

<style is:global>
.news-card {

}

.news-card > div {

}
.news-card img {

}
</style>

<style>
    section {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }
    header {    }

    article {
        width: 100%;
    }
</style>

