---
import App from '~/layouts/App.astro'
import logo from '~/assets/the-national-journal.png'

import { routes } from '~/js/routes';
---

<App title="The National Journal">
    <section>
        <header>
            <a href={routes.the_national_journal}>
                <img style="width: 100%;" src={logo.src} alt="The National Journal" />
            </a>
        </header>
        <article>
            <slot />
        </article>
    </section>
</App>

<style is:global>
    h1 {
        font-size: 72px;
        font-family: 'Courier New', Courier, monospace;
    }
</style>

<style>
    section {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }
    header {    }

    article {
        width: 100%;
    }
</style>

