---
import App from '~/layouts/App.astro'
import logo from '~/assets/the-daily-tribune-logo.png'
---

<App title="The Daily Tribune">
    <section>
        <header>
            <img style="width: 100%;" src={logo.src} alt="The Daily Tribune" />
        </header>
        <article>
            <slot />
        </article>
    </section>
</App>

<style>
    section {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
    }
    header {    }

    article {
        width: 100%;
    }
</style>

